.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:first baseline;
  justify-content:first baseline;
  font-size: calc(10px+ 2vmin);
  color: white;
  padding: 30px
}

select{
  width: 45%;
  height: 50%;
}

input {
  padding-left: 10px;
  padding-bottom: 5px;
  width: 45%; 
}

label{
  width: 40%;
  text-align: left;
  display: inline-block;
  font-size: '13px';
}
.App-link {
  color: #61dafb;
}

button{
        background-color: #62529c;
        border: none;
        color: #fff;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        height: 25px;
      }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
